.about {
  font-size: 2rem;
  padding-top: 4rem;
}

.aboutheader {
  font-size: 4rem;
  padding: 0.5rem;
  border-bottom: solid 2px white;
}

.body {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-height: 65%;
  padding: 0;
}
