.about {
  font-size: 2rem;
  padding-top: 4rem;
}

.aboutheader {
  font-size: 4rem;
  padding: 0.5rem;
  border-bottom: solid 2px white;
}

.body {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-height: 65%;
  padding: 0;
}

@media (max-width: 56rem) {
  .about {
    font-size: 1.6rem;
  }
}
@media (max-height: 47rem) {
  .about {
    font-size: 1.6rem;
  }
}

@media (max-width: 30rem) {
  .body {
    margin-top: 12rem;
  }
}
