.profile {
  height: 28rem;
  width: 30rem;
  border-radius: 75%;
}
@media (min-width: 83rem) {
  .profile {
    height: 28rem;
    border-radius: 75%;
  }
}

.mainheader {
  font-size: 12rem;
}
.mainbody {
  font-size: 4rem;
}

@media (max-width: 82rem) {
  .profile {
    height: 22rem;
    border-radius: 75%;
  }
  .mainheader {
    font-size: 8rem;
  }
  .mainbody {
    font-size: 4rem;
  }
}

@media (max-width: 71rem) {
  .profile {
    height: 22rem;
    border-radius: 75%;
  }
  .mainheader {
    font-size: 6rem;
  }
  .mainbody {
    font-size: 2.4rem;
  }
  /* sample */
}
