.snippitbox {
  width: 88vw;
  padding-top: 4.8rem;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 83rem) {
  .snippitbox {
    width: 88vw;
    padding-top: 4.8rem;
    display: flex;
    justify-content: space-between;
  }
}

.snippit {
  height: 28rem;
  width: 24rem;
  border-radius: 8%;
}

.projectheader {
  font-size: 4rem;
  padding: 0.5rem;
  border-bottom: solid 2px white;
}

.img1 {
  display: flex;
  background-image: url(../img/vudu.webp);
  background-size: cover;
  height: 28rem;
  width: 22rem;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
}

.img2 {
  display: flex;
  background-image: url(../img/lmsa.webp);
  background-size: cover;
  height: 28rem;
  width: 22rem;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
}
.img3 {
  display: flex;
  background-image: url(../img/omni.webp);
  background-size: cover;
  height: 28rem;
  width: 22rem;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
}
.img4 {
  display: flex;
  background-image: url(../img/forkify.webp);
  background-size: cover;
  height: 28rem;
  width: 22rem;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
}
.img5 {
  display: flex;
  background-image: url(../img/vudu.webp);
  background-size: cover;
  height: 28rem;
  width: 22rem;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
}

.insert {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.623);
  background-color: white;
  height: 4rem;
  width: 22rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #212529;
}

/* .insert {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.484);
  background-color: white;
  height: 12rem;
  width: 12rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #212529;
} */

/* .insert:hover {
  height: 100%;
  width: 100%;
  border-radius: 8%;
  background-color: rgba(255, 255, 255, 0.584);
  /* opacity: 90%; */

.imgwrapper:hover .insert {
  height: 100%;
  width: 100%;
  border-radius: 8%;
  background-color: rgba(255, 255, 255, 0.584);
}

.imgwrapper:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
  transition-delay: 100ms;
}

.hiddenLabel {
  display: none;
  background-color: #1c7ed6;
  color: white;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 2px;
  text-decoration: none;
}
.hiddenLabel:hover {
  background-color: #1864ab;
}
.imgwrapper:hover .label {
  display: none;
}

.imgwrapper:hover .hiddenLabel {
  transition-delay: 100ms;
  display: flex;
  flex-direction: column;
}
@media (max-width: 82rem) {
  .snippitbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
    padding-top: 40rem;
  }
  .imgwrapper {
    margin: 2rem;
  }
}

@media (max-width: 54rem) {
  .snippitbox {
    padding-top: 40rem;
  }
}

@media (max-width: 34rem) {
  .snippitbox {
    padding-top: 88rem;
    grid-template-columns: 1fr;
  }
}
