.aboutheader {
  font-size: 4rem;
  padding: 0.5rem;
  border-bottom: solid 2px white;
}

.skillsBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skill {
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
}

.skillHeader {
  font-size: 2.4rem;
  padding: 0.5rem;
}

.skillList {
  font-size: 2rem;
  padding: 0.5rem;
}

.skillRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  left: 0;
}

ion-icon {
}
